[2015-05-24 13:44] DominicWatson opened #1 "Package request: Fedora/yum"
I'm running [Korora](https://www.kororaproject.org/), a Fedora based distro, and would love to see a yum based package from which to install.

For now, I've managed to install by building from source:

1. I had to install QT 5.x by using the [QT online installer](https://www.qt.io/download-open-source/) because I couldn't figure out all the diff QT packages (hopefully you're smarter than me)
2. I

[2015-05-25 20:53] trollixx commented on #1
I have built Zeal on Fedora 21 with Qt 5 installed from the standard repositories.

There's also a contributed spec file for Fedora in zealdocs/zeal#302:

[2015-05-25 21:38] DominicWatson commented on #1
Nice one, thanks trollix - I'll update my comment (got a bit lost with all the diff qt packages)

[2015-06-02 07:09] #1 closed

[2015-06-02 07:12] trollixx commented on #1
I am not completely sure whether a spec file fixes this issue, since I am not a user of any RedHat-based distros. Please, comment if something additional should be done.

[2015-07-03 15:52] markusgattol opened #3 "Debian package waiting for review"
jfyi: there's a Debian package on the NEW queue https://ftp-master.debian.org/new/zeal_20141123-1.html

Sitting there, waiting for review for 8 months though...

[2015-07-24 02:04] trollixx commented on #3
See https://tracker.debian.org/pkg/zeal. As of today the latest version of Zeal has been added to Debian unstable. I guess this issue can be considered resolved.

[2015-07-24 02:04] #3 closed

[2015-07-24 02:04] trollixx commented on #3
Oh, I just realised that the email about this was from you :)

[2015-07-30 03:33] trollixx opened #4 "ubuntu-ppa: Missing libqt5sql5-sqlite dependency"
Since it's a runtime dependency it was somehow overlooked :(

[2015-08-04 14:37] sammy44nts commented on #3
ChangZhuo Chen (陳昌倬) <czchen@gmail.com> is the maintainer for the debian package and made it to reach the testing repository. [Debian Quality Assurance](https://qa.debian.org/developer.php?login=czchen%40gmail.com)
I think this package will never find its way to the stable repository while the "unreproducible build" issue is not solved. ([How to solve this issue](https://reproducible.debian.net/rb

[2015-08-05 11:07] trollixx commented on #3
I am not sure, but you might be right. @czchen are reproducible builds required for Debian?

[2015-08-05 11:15] czchen commented on #3
@trollixx Currently reproducible builds is not required for stable.

The current unreproducible build is caused by `__DATE__` and `__TIME__` macros. I can patch it in Debian to see if it is reproducible or not. However, currently Debian is in GCC5 transition now, so I won't do it until the transition is over.

[2015-08-05 16:57] sammy44nts commented on #3
@czchen I do not find libqt5sql5-sqlite in /debian/control Build-Depends. I think issue #4 will apply if this package was not already install on the user debian OS.

[2015-08-07 11:27] czchen commented on #3
@sammy44nts Thank for the report. Could you help to send a bug report to Debian via reportbug?

[2015-08-15 10:19] sammy44nts commented on #3
Done, sorry for the delay.

[2015-08-17 01:30] czchen commented on #3
@sammy44nts These issues are fixed in Debian (https://tracker.debian.org/pkg/zeal), thanks for the bug reports.

As for "unreproducible build", my plan is waiting for SOURCE_DATE_EPOCH patch in GCC. After the patch is in GCC, we will have a reproducible build. See https://wiki.debian.org/ReproducibleBuilds/TimestampsFromCPPMacros for more information.

[2015-08-17 08:30] #4 closed

[2015-08-27 03:44] richarson opened #5 "Slackbuild for Slackware available"
Hello, I made a Slackbuild for Slackware 14.1, can be found at:

http://slackbuilds.org/repository/14.1/development/zeal/?search=zeal

I'm not sure this is the right channel for this, but I wanted to let you know and ask if it's possible to mention it in the donwload page.

Thanks in advance :)

[2015-08-27 04:07] #5 closed

[2015-08-27 04:07] trollixx commented on #5
Hi, thanks! The right repository would be [zealdocs.github.io](zealdocs/zealdocs.github.io), but it's not a problem, I have just added the link.

There's an issue with the version string in 0.1.1. You should to set `ZEAL_VERSION` to `0.1.1` prior to calling `qmake`, otherwise it would use `0.0.0` version and notify about available update. Hopefully I'll release 0.1.2 this weekend as well, which fi

[2015-08-27 17:41] richarson commented on #5
Great, thank you!

I'll add ZEAL_VERSION to the slackbuild and see if I can resubmit it, otherwise I'll just wait for 0.1.2 and kill two birds with one stone :)

[2015-10-12 21:13] dakrone commented on #1
I have tried to build on Fedora 22 from the spec file, however, it doesn't actually build anything (after following the instructions in the README.md):

[code]

[2015-10-31 12:03] meditans opened #6 "Packaging for Fedora"
What is the recommended way to install zeal on Fedora?

[2015-11-02 01:56] trollixx commented on #6
I thought Fedora is RedHat compatible. Have you tried our [spec file](https://github.com/zealdocs/zeal-packaging/tree/master/redhat) for RedHat?

[2015-11-04 16:44] meditans commented on #6
You're right, I missed that page, because I expected to see `fedora` and didn't occur to me to look for `redhat`. I installed zeal from source before opening the issue, however (and I love it :)

You may want to add the link to the spec file page to [the download page](https://zealdocs.org/download.html), just for additional clarity.

Thanks!

[2015-11-04 16:44] #6 closed

[2015-11-16 19:21] atleta opened #7 "Ubuntu PPA has no v0.2.0 and Wily packages"
Hi,

The ubuntu PPA seems to be abandoned: v0.2.0 is not published and the PPA doesn't contain a build for the current (15.10) distribution. After adding the PPA, aptitude can't fetch the package list:
W: Failed to fetch http://ppa.launchpad.net/zeal-developers/ppa/ubuntu/dists/wily/main/binary-amd64/Packages: 404  Not Found
W: Failed to fetch http://ppa.launchpad.net/zeal-developers/ppa/ubuntu/di

[2015-11-17 10:15] henrjk commented on #7
I ran into this issue as well.

[2015-11-20 06:06] trollixx opened #9 "[ubuntu-ppa] ppa-upload.sh should handle complex version updates"
The full version string should be obtained from `debian/changelog` before executing `dput`.

[2015-11-20 06:19] trollixx commented on #7
Zeal 0.2.1 is available in PPA.

[2015-11-20 06:19] #7 closed

[2015-11-20 09:07] henrjk commented on #7
works for me. Thank you!

[2015-12-24 12:03] slashsBin opened #11 "Pre-Build Zeal Package for Debain"
Hi incredible team of ZealDocs!
It would be so nice to have zeal available az pre-build package for Debian, specially for Debian Jessie.

Thanks!

[2016-01-11 04:00] trollixx commented on #11
Currently Zeal only [available](https://packages.debian.org/search?suite=all&searchon=names&keywords=zeal) for testing and unstable. I'll look into options for other Debian releases.

[2016-01-12 17:05] lsv opened #12 "Linux Mint"
It would be nice if it was possible to get deb file for linux mint.

The problem is this

[code]

```% sudo apt-get dist-upgrade``` gives me ```0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.```

[2016-01-15 04:36] trollixx commented on #12
What deb-file are you trying to install?

[2016-01-15 14:58] lsv commented on #12
That would be the one from ubuntu ppa
```ppa:zeal-developers/ppa```

My linux mint version is 17.1 (Rebecca) with Cinnamon.
Mint 17, is based on Ubuntu 14.04

[2016-01-21 15:50] benhosmer opened #14 "Pre-Built RPMS"
Maybe https://copr.fedoraproject.org/ could be used for us rpm people?

I just built it for Fedora 23 and everything seemed to go smoothly. I suppose even including it in the https://extensions.gnome.org/ would get a lot of eyes on it. Don't forget about those not using gnome too.

I'd be willing to help out with this.

[2016-01-21 21:39] benhosmer commented on #14
I came across this: https://copr.fedoraproject.org/coprs/salimma/zeal/ It looks like the last build was a few months ago.

[2016-01-26 01:05] trollixx commented on #14
As per zealdocs/zeal#414, Zeal should be available from the official repositories. It [looks like](https://bugzilla.redhat.com/show_bug.cgi?id=1280293) they haven't updated the last version yet. Perhaps @michel-slm could take a look?

Maybe a separate CORP repo would make sense, since it could also provide packages for different flavours of Enterprise Linux distros. I'll take a look into that.

Re

[2016-01-26 11:22] benhosmer commented on #14
I agree with the Gnome Extensions. My thought was that it was sort of the "app store" but for Gnome users. I built Zeal for Fedora 23 and installed it myself and afterwards, I noticed there automatically was a desktop entry created and it showed in the Gnome search.

You're also right about zeal-0.2.1-1 being in the Fedora 23 repo. I was searching for zealdoc I think.

This can probably be closed

[2016-01-26 11:43] benhosmer commented on #14
Oops, I spoke a little too soon - Zeal isn't actually available in the Fedora 23 repos. I mistakenly did a search on the system I'd built the RPM for and it showed up as available.

COPR would definitely be the way to go.

[2016-02-02 16:47] r3c4ll commented on #11
Great @trollixx, also for Debian Wheezy if it is possible. Thanks!

[2016-03-19 04:56] simplycycling commented on #11
Another vote for Jessie, please!

[2016-04-12 19:25] anarcat commented on #11
To backport this to jessie, the main obstacle would seem to be QT 5.5. It seems to me it would be fairly simple to do a clean backport of this, i'm available to help with this if people need that.

[2016-04-12 22:25] anarcat commented on #11
Turns out a backport is trivial. I documented it in my request for a backport to the current debian maintainer: http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=820833

[2016-04-13 02:09] trollixx commented on #11
@anarcat Thanks! Honestly, I didn't even think about backports (not a Debian user myself). If @czchen could add Zeal to backports, that would be pretty awesome, and resolve this issue.

Currently Zeal requires Qt 5.2+, which is quite old and should be available mostly everywhere. I'll keep this dependency unchanged for the upcoming Zeal 0.3. Then the plan is to switch to Qt 5.6 and drop support fo

[2016-04-13 15:38] czchen commented on #11
@trollixx @anarcat I uploaded zeal to jessie-backports.

[2016-04-13 15:47] trollixx commented on #11
@czchen Thank you!

[2016-04-14 04:29] #11 closed

[2016-08-07 19:59] aschosser opened #16 "How to install in Ubuntu 12?"
I added your repository with "add-apt-repository ppa:zeal-developers/ppa". When I try "apt-get update" i get following error message:

http://ppa.launchpad.net/zeal-developers/ppa/ubuntu/dists/precise/main/source/Sources  404  Not Found

Can you please tell me, how to install zeal in Ubuntu 12?

Thank you,
Andreas

[2016-08-07 20:09] trollixx commented on #16
Ubuntu 12.04 is way too old! It doesn't even have Qt 5, and Zeal requires at least Qt 5.2.  The only way would be to obtain all dependencies, and build Zeal yourself.

I think updating Ubuntu would be much easier, but I don't know your circumstances.

[2016-08-08 00:07] #16 closed

[2016-09-02 10:17] buschtoens commented on #14
Sorry for intruding, but has there been any recent development? We're using CentOS at work and would love to use Zeal. :)

[2016-09-02 11:06] benhosmer commented on #14
Or has anyone from this project considered [appimage](https://github.com/probonopd/AppImageKit/blob/master/README.md) ? This could solve the cross-distro packaging problem.

[2016-09-03 01:37] trollixx commented on #14
According to [this page](https://admin.fedoraproject.org/pkgdb/package/rpms/zeal/) Zeal should be available for Fedora 23 or later.

[2016-09-14 10:57] alunux opened #17 "[RPM] There are ar files at /usr/bin/ directory"
[code]

Full build log:
- https://paste.fedoraproject.org/427906/47385049/

[2016-09-14 17:03] trollixx commented on #17
Thanks for letting me know.

I changed the project organisation a little bit, so now there are several
static libraries that a linked in the final executable. I did not realise
that these libs get installed, so I need to fix that.

[2016-09-15 02:03] #17 closed

[2016-10-02 04:19] trollixx commented on #12
Closing this rather old issue. Zeal needs Qt 5.2+.

[2016-10-02 04:19] #12 closed

[2016-10-02 04:26] trollixx commented on #14
If someone wants to contribute some time and provide a universal RPM repository that would be great. Such packages could be even hosted in our BinTray account, which supports RPM repositories.

 Other than that, I guess the only way would be to rely on packages provided by distributions themselves or third parties. I am not using any RPM-based distro myself, and honestly don't have any extra time

[2016-10-02 04:27] trollixx commented on #14
I'll leave it open just in case.

[2016-10-02 10:48] abn commented on #14
@trollixx I am doing a copr repository to enable a faster cycled build. The source is on [github](https://travis-ci.org/abn/zeal-rpm). Looks like the 0.3.0 release is slated for f26 as per the distro packaging.

Once https://github.com/zealdocs/zeal-packaging/pull/19 is completed; I can tag a new build and the packages should be available for f24, f25 and el7 on x86_64. On Fedora this can be insta

[2016-10-02 11:02] probonopd commented on #14
Can you compile for older distributions such as el6?

[2016-10-02 12:12] abn commented on #14
@probonopd should be do-able if the dependency chain does not require packaging; will give it shot in a little bit.

[2016-10-02 15:00] trollixx commented on #14
For Fedora Zeal will be updated in the official repos, so I am not sure how useful a separate COPR would be?

Also, please keep in mind that 0.3.x is the last version to work with Qt 5.2+, I''ll be switching Zeal to Qt 5.6 in 0.4.

[2016-10-03 04:15] abn commented on #14
@trollixx; from experience, getting versions updated esp. for non-current versions of the distros are hard and a long process more often than not. And as indicated by @probonopd 's request, especially hard for CentOS as it tracks RHEL. A copr repository just provides an unofficial rpm for consumption - for me; its just for personal use - community is more than welcome to use too where required. No

[2016-10-03 04:48] trollixx commented on #14
Okay, no problem. I have little knowledge about all the flavours of RPM distros :)

Just FYI, for supported Fedora versions 0.3.0 should land into official repos as soon as I make an announcement (zealdocs/zeal#602).

[2016-10-03 05:34] abn commented on #14
I can confirm Qt 5.6 is available across el6 and el7 is available via the epel repository - will get the builds up soon-ish. Will wait for the official announcement for the supported packages.

[2016-10-03 06:23] abn commented on #14
@probonopd jfyi; the el6 builds are currently [failing](https://copr-be.cloud.fedoraproject.org/results/abn/zeal/epel-6-x86_64/00460447-zeal/build.log.gz) due to what I suspect is a GCC version issue in el6. I can investigate this once I do get some time.

The el7 and fc24 builds are now available on the copr repository.

[2016-10-03 07:53] probonopd commented on #14
I have made an AppImage some time ago: https://bintray.com/probono/AppImages/Zeal#files
Simply download, set the executable bit via the GUI or chmod a+x, and run.

It uses binaries for trusty from `zeal-developers/ppa`, so it should run on most distributions since 2014.

[2016-10-03 12:10] benhosmer commented on #14
@probonopd I've been a consumer of app images packages and I have to say, I definitely liked what I saw.

I'd reiterate my original comment about it saving a lot of time and work for a project like Zeal.

My packaging experience only lies with building server types of applications, so I can't comment on app image from a maintainer perspective.

I can offer a user perspective though:

1. Dependenci

[2016-10-03 13:09] trollixx commented on #14
I don't mind maintaining a package if it takes exactly 5 minutes of my
time, and that's the case with AUR. Updating both `zeal` and `zeal-git`
takes less than 5 minutes including rebuilding both packages.

Unfortunately, with Ubuntu/Debian or Windows things are much more
complicated.

No idea about time an AppImage package requires to prepare.

My plan is to come up with some sort of a continuous

[2016-10-03 13:26] probonopd commented on #14
Close to zero if there is already a ppa for trusty or earlier: Just rerun the script, then it builds a new AppImage from the ppa.

[2016-10-04 03:29] abn commented on #14
The only real concern for AppImage and similar mechanisms is the security aspect, ie. using older dependency binaries etc. Usually, this sort of a deployment is frowned upon for a variety of reasons. But that said, considering this is a local application and the only real concern is the docset APIs themselves, I think it is only pragmatic appImage or flatpack be considered as delivery options.

@t

[2016-10-05 14:39] trollixx opened #20 "MSI: Zeal 0.3.0 installer does not remove the previous version"
From zealdocs/zeal#610 by @Eternalink:

I ended up with two Zeal with weird behavior on each. I recovered by uninstalling both and reinstalling the newer version.

[2016-10-09 02:51] trollixx commented on #20
@Eternalink I was unable to reproduce this problem upgrading from 0.2.1 to 0.3.0 on my Windows 10 VM. The installer correctly removed previous version, and I couldn't get two of them installed simultaneously. Unless there are some specific details on how to reproduce this bug, I am going to close this ticket.

[2016-10-09 02:51] #20 closed

[2016-11-24 20:15] matthiasdavenport opened #22 "Solus OS"
The current version of zeal is not in the Solus repository.

[2016-11-24 20:51] trollixx commented on #22
Here is not the right place to report that. You need to contact maintainers
of the package in your distribution. Or become one.

[2017-01-20 01:25] #22 closed

[2017-09-03 21:07] richarson opened #24 "Slackbuild for Slackware updated"
Hello, I'm about to upload a slackbuild for zeal 0.4.0 and I noticed that on https://zealdocs.org/download.html there's a mention and a link ponting to 14.1.

You should update those to point to 14.2, which is Slackware's latest version.

Thanks.

[2017-09-03 21:45] #24 closed

[2017-09-03 21:46] trollixx commented on #24
Fixed, thanks for letting me know.

P.S. It's better to report issues with the website in https://github.com/zealdocs/zealdocs.github.io.

[2017-09-05 21:24] richarson commented on #24
Thank you, and sorry for reporting here, didn't realize the website was also on GH :)

[2017-09-05 21:56] trollixx commented on #24
@richarson btw, why https://slackbuilds.org/repository/14.2/development/zeal/ shows 0.1.1? That's super old and unsupported?

[2017-09-05 23:15] richarson commented on #24
Lazyness on my part, basically :)

When I was finally about to update to 0.2.x, you released 0.3.x which had the search issues so I thought to wait for 0.4. It was a long wait :)

Now, I already submitted an update for 0.4.0 and it was approved (https://slackbuilds.org/ready/), but SBo usually updates the website closer to the weekend, so it'll still show 0.1.1 for now.

BTW, have you seen https:/

[2017-09-06 21:31] trollixx commented on #24
Repology looks interesting. Thanks for pointing me to it. I usually use pkgs.org, but it's intended for different use cases I think.

That date-version is from the old times, before I took over the project. I'll also try to contact freshcode to get it removed completely.

[2017-09-08 17:22] brcha opened #27 "Ubuntu PPA new version"
Hello,

Thank you for building an excellent documentation app. I would like to ask you if it would be possible to update the app in Ubuntu's PPA to the current version as well as add support for zesty (17.04) if that is not too much trouble.

Thank you in advance :)
brcha

[2017-09-09 15:01] Xuanwo opened #28 "Please update 0.4.0 to ububtu ppa"
Hi, I received the update notice, but I found it's still 0.3.1 in ubuntu ppa, any idea to update the version in it? Or anything I can help to do that?

[2017-09-09 15:03] #28 closed

[2017-09-09 15:04] Xuanwo commented on #28
Colse for duplicate with #27

[2017-09-09 15:04] Xuanwo commented on #27
Same here, if there is anything I can make a help, please let me know.

[2017-09-24 07:09] JoseBarakat commented on #27
Same here...

[code]
[code]
[code]

[2017-09-24 22:48] trollixx commented on #27
Fixed by #29.

[2017-09-24 22:48] #27 closed

[2017-10-14 20:26] SamiruR opened #30 "Can i download docset via browser without using zeal"
how do i download docset separately without using zeal  ,for offline install(or unzip)
laravel offline docset bundle

[2017-10-15 17:35] trollixx commented on #30
You can download docsets manually by taking URL from [this repo](https://github.com/Kapeli/feeds/). Then just extract it to Zeal's docset storage path.

[2017-10-18 09:40] #30 closed

[2017-12-18 12:21] David-Else commented on #14
Hello,

Can anyone confirm if there is a RPM that will work with no problems on Centos 7.4 (which is now based on Gnome 3.22, the same as Fedora 25)?

I don't really understand packaging and don't want to mess up my install, would be great if it was in the Fedora EPEL 7 repo :)

Is this where I should be looking? I can't find an RPM to download:

https://travis-ci.org/abn/zeal-rpm

Thanks!

[2017-12-18 13:01] abn commented on #14
@David-Else I have not maintained the centos rpm for a while now; if this is something you need I can get it building again. I am using zeal of fedora 27 right now. Adding to the EPEL repository requires a maintainer and jumping some hoops for which I do not have the bandwidth at the moment.

[2017-12-18 14:24] benhosmer commented on #14
@David-Else and @abn this seems ripe to rekindle the Appimage discussion from higher up or use COPR. In fact, I've got some spare cycles and have been looking for another OSS project to give back to. Give me a day or so and I'll at least stand this up in a COPR repo, which will solve @David-Else immediate problem and at least get it available to CentOS/RHEL users quickly. We can then work on getti

[2017-12-18 15:33] David-Else commented on #14
@benhosmer and @abn Thanks for this awesome and speedy feedback!

I wish I knew more about packaging. I am currently using Fedora 27, and have Zeal running on that. I am finding Fedora 27 to be rather crashy and buggy compared to all the past releases, and constant updating in general is making me go a bit OCD. I have decided the new Centos 7.4 is the perfect solution, my happiest Fedora memories

[2017-12-18 16:47] benhosmer commented on #14
@David-Else :

To answer your question, yes, if you build the rpm on a VM and then install it somewhere else, it could overwrite other things. I'm not sure what the flatpak.spec is doing, or even why rpmbuild is being used to build a flatpack. If you wanted to wet your teeth and build a flatpack from zeal, I would recommend trying it because it's a fairly simple app to build.

[2017-12-18 17:48] David-Else commented on #14
@benhosmer I have been trying to get flatpak to just install something from https://flathub.org/apps.html , but it does not work. I filed a bug report. I don't think I will be able to build anything if I can't even download anything?

https://github.com/flatpak/flatpak/issues/1264

I have spent most of the day on this now, amazing how time flies trying to make Linux work! I think I will hang on an

[2017-12-18 20:20] benhosmer commented on #14
@David-Else I was able to install dolphon using the commands you posted in https://github.com/flatpak/flatpak/issues/1264 I can't offer much more advice though.

@trollixx I just re-read this whole thread, I'd like to help out and it sounds like flatpak or appimage might be the best way to get a cross-distro rpm solution. I'll build it in both and see which one is simpler.

[2017-12-18 20:26] David-Else commented on #14
@benhosmer Thanks for looking at the report. Interesting that you could install Dolphin using those commands. Are you using Centos/RHEL 7.4?

I was using Gnome Boxes as a virtual machine for Centos 7.4, maybe that was causing some kind of error, it is very buggy software. Really should use Virt Manager. Strange.

[2017-12-18 23:13] trollixx commented on #14
@benhosmer Thanks for looking into this!

Some time ago I found the [packpack](https://github.com/packpack/packpack) project, and thought of using it to provide RPMs and DEBs not tied to a specific distribution, but never actually got to do anything.

We are about to get snap packages. They are supposed to work on RPM based distros too, but a lot of people don't like anything created by Canonical

[2017-12-19 01:15] abn commented on #14
@benhosmer I already have a copr available at https://copr.fedorainfracloud.org/coprs/abn/zeal/ however, it is maintained outside of the project as per a previous discussion. The EL support for the current rpm spec has a few issues, #32 resolves one of them, but the other is got to do with the linked libraries - I have not dug into it yet. I suspect its a compilation issue or gcc version issue.

@

[2017-12-19 09:47] trollixx commented on #14
@abn That's right about packpack, and I definitely don't have time for it now. Plus Fedora and Debian both already have Zeal in their official repositories. COPR and PPA also provide a way to distribute updated versions. Although while there is an "official" PPA, we don't have a similar COPR repository.

[2017-12-19 13:53] benhosmer commented on #14
@abn and @trollixx I echo the thoughts too about tools like packpack and fpm. They work for personal things, but won't get accepted to official repos because of their non-standard packaging. Effort is more likely better spent packaging properly.

So, if  COPR repo does already exist, it sounds like it just needs a little love. @David-Else original post, which sparked this activity, was because he'

[2017-12-19 14:04] trollixx commented on #14
@benhosmer Let me know if you need anything for pushing Zeal to Flathub. I have no idea what the process is.

Regarding COPR, it would be nice to add installation instructions to our webpage. Also I remember COPR lacked concept of organizations, but now they seem to have groups. So it should be possible to create a `zealdocs` group to make our COPR repo look more official. @abn would you be willin

[2017-12-22 05:52] abn commented on #14
@trollixx happy to help on that front. Will take a look at getting the group setup done soon (might be a few days delay on that one) and get some documentation prepped.

In the meantime, I have gone ahead and updated the COPR package to v0.5.0 and ready for both CentOS 7 and Fedora 26/27.

https://copr.fedorainfracloud.org/coprs/abn/zeal/

@David-Else if you could follow the instructions to [enabl

[2017-12-22 11:10] trollixx commented on #14
@abn great, thank you!

I did file a ticket for the group to be created, but there were no updates on it since Tuesday.

[2017-12-22 11:58] David-Else commented on #14
@trollixx I followed the instructions using a virtual machine running Centos 7.4, and it all installed fine. All the dependencies came from Centos base, apart from:

`qt5-qtwebkit   x86_64   5.6.2-1.el7   epel`

I downloaded the JS docset and had a quick browse around, all seems great!

I downloaded (https://github.com/deerawan/vscode-dash) and zeal launches from VS Code as expected, excellent wor

[2017-12-22 12:27] benhosmer commented on #14
@David-Else you can find it here: https://copr-be.cloud.fedoraproject.org/results/abn/zeal/epel-7-x86_64/00690412-zeal/ but not using the COPR plugin or the repo might cause issues if there are dependencies.

@trollixx @abn I'm working on flatpak right now. Once I can build it locally, I'll look into pushing it to flathub. I'm working through the missing qt5 dependencies now.

[2017-12-22 12:46] probonopd commented on #14
The download page shows download buttons for Windows, Linux, and macOS:

![](https://user-images.githubusercontent.com/2480569/34298434-2424b2ac-e71e-11e7-9923-024290434046.png)

If you are a Windows or a Mac user, clicking that button brings you to straigtforward instructions on how to download and run Zeal:

![](https://user-images.githubusercontent.com/2480569/34298452-35f56d00-e71e-11e7-9458-6

[2017-12-22 12:57] trollixx commented on #14
@David-Else I am not a Fedora user, but I'd assume without COPR you loose automatic updates.

@benhosmer sounds great, please let me know if you need anything from my side.

@probonopd I know about AppImage, but unfortunately I don't have time to maintain packages myself. Even creating MSI for Windows takes quite some time (reason I haven't announced v0.5.0 yet), so someone needs to be willing to

[2017-12-22 13:07] probonopd commented on #14
They are not the equivalent of your "portable" Windows version. Plus they don't run on all systems.

[2017-12-22 13:14] trollixx commented on #14
@probonopd Right, but they can run on a bunch of systems as well. Also they can (and probably should) be built with the portable flag on. And don't get me wrong, I am all for having "official" AppImage packages as well, if someone steps forward. I don't even use Linux lately :(

[2017-12-22 13:18] benhosmer opened #34 "Linux Cross-Platform Packaging"
A continuation of the need for pre-built rpms that lead to exploration of creating portable linux desktop builds. #14 for historical reference.

[2017-12-22 13:19] benhosmer commented on #14
I'm closing this issue, since it was originally for pre-built RPMS. We can continue the discussion here: #34

[2017-12-22 13:19] #14 closed

[2017-12-22 13:20] probonopd commented on #34
I am happy to help set up AppImage generation. Would something like Travis CI be suitable or are you using another build pipeline?

[2017-12-22 13:25] benhosmer commented on #34
@probonopd I believe zeal uses Travis already: https://travis-ci.org/abn

Here's the thing, I've been working on building flatpak packages for zeal. I've never built flatpak or appimage. I've consumed both. I decided on flatpak because the documentation for appimage was really confusing.

It would be nice to have a hello-world example of how to create an appimage. I do like the fact that appimage

[2017-12-22 14:32] probonopd commented on #34
That is very unfortunate. Can you explain exactly what you were struggling with? We think we have quite extensive documentation in https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages

Check https://github.com/probonopd/linuxdeployqt#using-linuxdeployqt-with-travis-ci and especially the real-world examples at https://github.com/probonopd/linuxdeployqt#projects-using-linuxdeployqt

Pleas

[2017-12-22 14:32] probonopd commented on #34
Seems to be the private project of _Arun Babu Neelicattu_, is that where the official Zeal packages get built?

[2017-12-24 18:27] abn commented on #34
@probonopd that travis build config corresponds to https://github.com/abn/zeal-rpm and as of now there are no *official* zeal rpm packages builds. That builds an srpm in a clean room environment based on the zeal-packaging rpm spec file and then triggers a [copr build](https://copr.fedorainfracloud.org/coprs/abn/zeal/builds/) that builds the packages distributed in that repository (unofficial).

@

[2017-12-27 00:25] probonopd commented on #34
So would a PR for https://github.com/zealdocs/zeal that would implement building on Travis CI be considered?

[2017-12-29 23:12] trollixx commented on #34
@probonopd Zeal itself doesn't use Travis (https://travis-ci.org/zealdocs has not projects). And I am not sure what do you mean by "official packages". AFAIK all distros that ship Zeal have their own build services, same for our Ubuntu PPA.

There are only official builds for Windows, but they are unrelated to this discussion.

[2017-12-29 23:13] probonopd commented on #34
Yes, how can we get Linux builds that are done by upstream (and not by a third party like a distribution) like for Windows?

[2017-12-29 23:34] trollixx commented on #34
I guess that depends on actual packaging format. If Travis CI is enough for building and releasing AppImage packages, let's use it. If not, we can either use another CI, or our own Digital Ocean VMs. I would prefer some public CI, since it should require less maintenance going forward.

[2017-12-29 23:49] probonopd commented on #34
Agree, so let's try to do it on Travis CI.

[2017-12-30 01:04] probonopd commented on #34
The AppImage seems to be working for me:
https://github.com/probonopd/zeal/releases

Please test it and report back here. If it works for you, too, I will send a PR.

![Screenshot](https://user-images.githubusercontent.com/2480569/34450292-b9832ca6-ed05-11e7-90bb-4b14dec0681c.png)

[2017-12-30 01:39] probonopd commented on #34
Minor issue, the correct icon is not used here:

![issue](https://user-images.githubusercontent.com/2480569/34450491-8e09c2e2-ed0a-11e7-8a21-dcc8ad24aee4.png)

Probably it is attempted to be loaded from `/usr/share` where it does not reside. Quite possibly the source code would need to be adjusted to use a relative path (relative to the main executable) instead.

[2018-01-08 08:28] trollixx commented on #34
@probonopd I finally got a chance to test your build, and for the most parts it works quite well, so I like the idea. Here's some observations:

- App indicator for some reason could not update its menu, and always displayed "Show Zeal" option.
- I didn't encounter your problem with the tray icon.
- Qt WebKit is super old and buggy, if we bundle all dependencies anyway, then we should include the

[2018-01-08 08:51] probonopd commented on #34
Isn't the icon on my screenshot the "app indicator"?

Which Qt/WebKit version should we use? If I am not mistaken, Qt moved from WebKit to WebEngine (Chromium based) in newer versions.

In any case @trollixx, do you think you could take over from https://github.com/probonopd/zeal/blob/patch-1/.travis.yml and make changes as you see fit?

[2018-01-08 18:40] trollixx commented on #34
No idea. The icon is fine on Arch Linux + AwesomeWM as well.

Qt WebKit is being revived. See [this article](https://qtwebkit.blogspot.co.il/2016/08/qtwebkit-im-back.html). Arch Linux now ships the updated version by default.

I guess I can give it a try. Not sure on the timeline.

By the way, is there a way to bundle OpenSSL in AppImage as well? On my Arch you package couldn't work because it wan

[2018-01-08 19:07] probonopd commented on #34
Thanks for the update on Qt WebKit. Interesting.

Yes, but I'd ask you to exactly describe your system and the errors you are getting on https://github.com/probonopd/linuxdeployqt/issues/, possibly (if it looks to be related) in https://github.com/probonopd/linuxdeployqt/issues/110. Thanks!

[2018-01-08 20:36] trollixx commented on #34
@probonopd created a ticket explaining what's going on on Arch Linux. There's really no good workaround rather than bundling either OpenSSL 1.0 or 1.1, depending on Qt version. How do I tell `linuxdeployqt` to include OpenSSL? Worth noting, that it's a runtime, not a link dependency.

The [wiki](https://github.com/AppImage/AppImageKit/wiki/Desktop-Linux-Platform-Issues#openssl) doesn't mention Ope

[2018-01-09 06:26] probonopd commented on #34
Are you saying that applications compiled for OpenSSL 1.0 refuse to run on OpenSSL 1.1 systems in  general? Wouldn't that be an OpenSSL bug?

Certainly something we might want to mention on https://github.com/AppImage/AppImageKit/wiki/Desktop-Linux-Platform-Issues

[2018-01-09 06:52] trollixx commented on #34
@probonopd Not a bug, just confusing versioning OpenSSL uses.

So we do need to bundle OpenSSL to be able to run on systems, that don't have v1.0 or v1.1 (depending on the system AppImage is packaged on).

You mentioned above that bundling is possible, but I don't see how. There's only a switch to include system libraries, but again Qt is not linked to OpenSSL, so that  would not work.

[2018-01-09 08:04] probonopd commented on #34
Our expectation is that if an application is built against version 1.0 of a library that is on every target system, then the same application will continue to work when the target system is updated to 1.0.1 or 1.1 of the same library.

If that basic assumption does not hold anymore, then we are effectively forced to bundle the library with the Application in a private version, which we want to avo

[2018-01-09 08:04] probonopd commented on #34
Just put it inside the AppDir prior to it being converted to an AppImage.

[2018-01-09 08:16] probonopd commented on #34
Please add this example to https://wiki.openssl.org/index.php/OpenSSL_1.1.0_Changes#No_longer_works. They are explicitly asking for it:

Thank you.

[2018-01-09 15:20] probonopd commented on #34
I am trying to compile Zeal with the official Qt from http://download.qt.io/online/qtsdkrepository/linux_x64/desktop/qt5_5100.

I can see components called "qtwebengine", "qtwebview" and "qtwebchannel" but nothing named "qtwebkit".

The build fails with

[code]

What do I need to do?

[2018-01-09 20:43] trollixx commented on #34
It's not yet shipped as part of the official SDK, although some distributions (Arch, Debian) already package it. So for now you need to build it yourself or use [prebuilt binaries](https://github.com/annulen/webkit/releases).

[2018-01-14 23:32] trollixx opened #36 "windows-wix: Per user installation lacks files"
When installing Zeal only for current user, subdirectories are not installed.

Originally [here](https://github.com/zealdocs/zeal/issues/347#issuecomment-355557523.

Requires replacing `WixUI_Advanced` with custom implementation. Also see wixtoolset/issues#5481.

[2018-01-21 23:31] trollixx commented on #34
@benhosmer Just curious, have you had any luck with Flatpack?

[2018-01-22 13:37] benhosmer commented on #34
@trollixx I think I started a skeleton, but abandoned it when @probonopd volunteered to do appimage.

[2018-01-22 19:26] trollixx commented on #34
I think it would make sense to provide all popular packaging options, just cover wider audience.

[2018-01-31 16:04] mrkz commented on #34
looking forward to have a Flatpak app as well :)

[2018-01-31 17:51] probonopd commented on #34
If someone gets this to build on Ubuntu 14.04 (trusty) on Travis CI, I'm happy to take over from there and do the AppImage.

Here is what I have so far:
https://github.com/probonopd/zeal/blob/qt5100/.travis.yml

I don't know what I need to do _exactly_. Can you send a PR to my file above?

[2018-01-31 19:37] trollixx commented on #34
@probonopd Ubuntu 14.04 is too old. We need Qt 5.6 minimum. And in a couple months we'll bump to 5.9.

Another thing that should be addressed is Qt WebKit. We need to bundle with 5.212 which has A LOT of bug fixes and improvements compared to any previous version.

Ideally I would prefer to have a custom built Qt as well. We can drop a bunch of features Zeal doesn't need, e.g. QML.

[2018-01-31 19:44] probonopd commented on #34
Qt 5.10 is available for trusty, either from qt.io or from https://launchpad.net/~beineri/+archive/ubuntu/opt-qt591-trusty (soon).

[2018-02-20 19:13] barthalion commented on #34
I can look at adding Zeal to [Flathub](https://flathub.org), even more so if someone from Zeal team would be interested in co-maintaining it. With KDE runtime available, it wouldn't need more attention than changing tag/commit used to build from.

While I maintain Arch package, I find any distribution specific work on leaf packages waste of time and I'd like to orphan it at some point.

[2018-02-27 13:09] trollixx commented on #34
@barthalion I am all for publishing Zeal to as many places as possible, I am just concerned about the cost of maintenance. Updating a PKGBUILD takes a couple of minutes, if maintaining the Flatpack is about the same effort, then I can take care of it.

[2018-04-28 11:31] abn commented on #34
@trollixx I have a prototype flatpak packaging working at https://github.com/abn/zeal-packaging/tree/flatpak/flatpak having to rebuild qtwebkit every time makes me think that should be build and managed elsewhere as an extension to the KDE runtime. Will improve on it and send a PR soon.

[2018-09-05 14:36] tokoiwesley opened #39 "PPA doesn't work on Ubuntu 18.04 'bionic'"
The repository 'http://ppa.launchpad.net/zeal-developers/ppa/ubuntu bionic Release' does not have a Release file.

[2018-09-16 21:56] RoestVrijStaal commented on #39
Same here :sob:

What's actually withholding the developer? Are some test data needed?

If creating a package per distro is too much hassle, the developer may consider to make an AppImage package instead...

[2018-10-03 16:38] asashnov commented on #34
This is the really cool implementation of what official Qt Installer does in Bash!

[2018-10-13 21:17] probonopd commented on #34
Zeal [AppImage](https://appimage.org/) has been published to https://github.com/probonopd/zeal/releases/tag/continuous.

[2018-10-13 22:48] trollixx commented on #34
@probonopd It looks to me like you built v0.5.0, not the latest v0.6.1.

[2018-10-13 22:56] probonopd commented on #34
Oops! Forget to [update](https://github.com/probonopd/zeal/pull/1).

[2018-10-13 23:03] probonopd commented on #34
v0.6.1 will appear on https://github.com/probonopd/zeal/releases/tag/continuous shortly. Let me know if you would like a pull request that would produce those automatically.

[2018-10-19 05:45] trollixx commented on #34
I'd like to start with packaging CI builds into AppImage, so we can provide easy-to-run test binaries similarly to what we have for Windows.

I've just consolidated Linux and Windows CI's at AppVeyor, and I hope copy-pasting from @probonopd's `.travis.yml` will just work :)

The OpenSSL 1.0 vs 1.1 thingie is a bit of a concern though.

[2018-10-19 07:50] Akronix opened #40 "ppa buildings for xenial fail"
I'm using xenial with amd64 architecture and my last available version of zeal is 0.5.0.
In the ppa repo it says that build for 0.6.0 has failed: https://launchpad.net/~zeal-developers/+archive/ubuntu/ppa/+build/14428541
And this is the build log: https://launchpadlibrarian.net/359786576/buildlog_ubuntu-xenial-amd64.zeal_1%3A0.6.0-1ppa1~xenial2_BUILDING.txt.gz

[2018-10-20 02:31] trollixx commented on #40
@Epskampie could you also submit 0.6.1 for Xenial? It's the last version that will compile under 16.04.

[2018-10-20 02:31] trollixx commented on #39
v0.6.1 has been uploaded to the PPA.

[2018-10-20 02:31] #39 closed

[2018-10-20 02:33] trollixx commented on #9
I don't think this will be ever implemented.

[2018-10-20 02:33] #9 closed

[2018-10-20 06:33] Epskampie commented on #40
I tried, but pbuilder for xenial was giving me grief. I’m using pbuilder to prevent more failed builds on the ppa since people keep commenting on them although they don’t do anything.

I’ll give it another try tonight.

[2018-10-20 15:52] Epskampie commented on #40
After wrestling pbuilder for some minutes it is done. Would be good to turn off update checks by default for this version since there won't be a new one, I might do that in a patch later.

[2018-10-20 16:16] Epskampie commented on #40
So, I did that as well. People on xenial who install from the ppa will have "update check"=false by default, as there won't be a new version for them.

[2018-10-20 20:09] Akronix commented on #40
Awesome, hmm but wait, what do you mean by "there won't be a new one"?

[2018-10-20 21:29] Epskampie commented on #40
Read above: trollix said that this is the last version that will compile on xenial. Upgrade yo distro if you want the newest zeal after this i guess. :-)

[2018-10-20 23:13] trollixx commented on #40
Great, thank you @Epskampie!

@Akronix The next version of Zeal will not build against the Qt version shipped with 16.04. The policy is to support only the latest LTS release. Saying that, Flatpak, and soon Snap packages might work just fine since they provide own Qt libraries.

[2018-10-20 23:13] #40 closed

[2018-10-21 06:15] Akronix commented on #40
got you. thanks for all your work :smiley: !

[2018-11-18 12:30] nishanthkarthik opened #43 "Windows 0.6.1 Installer - misplaced qwindowsvistastyle.dll"
_From @nishanthkarthik on November 18, 2018 6:38_

On windows 10 64 bit `msi`, the `qwindowsvistastyle.dll` is placed inside `./platforms` instead of `./styles`. The styling breaks because of this and the ui looks very old school. ~~I checked the wsix configuration as well and it had this dll inside `styles` folder~~

How do I check who loads `qwindowsvistastyle.dll` and how? I tried `ldd` on ever

[2018-11-19 05:18] #43 closed

[2019-02-09 08:51] probonopd commented on #34
Might be useful, e.g., for Clear Linux OS. https://github.com/clearlinux/distribution/issues/415

[2019-07-09 12:05] allopislozano opened #44 "Package request: CentOS7"

[2019-07-10 04:53] trollixx commented on #44
Distribution specific packages are usually maintained by distributions themselves. I don't know much about CentOS, but can't it just use Fedora packages?

[2019-07-20 03:11] xgdgsc commented on #34
Is 0.6.1 in appimage released? I still see this bug https://github.com/zealdocs/zeal/issues/892

[2019-07-20 10:25] probonopd commented on #34
I still cannot see any AppImages on https://github.com/zealdocs/zeal/releases unfortunately. What would be needed to get them there?

[2019-09-03 13:58] DmitrySandalov opened #45 "PPA doesn't work on Ubuntu 19.04 'disco'"

[2019-09-14 19:40] trollixx commented on #34
Closing this as we already have [the Flatpak package](https://flathub.org/apps/details/org.zealdocs.Zeal). Progress on Snap can be tracked in https://github.com/zealdocs/zeal/issues/1062.

Because we only supports Qt version included in the _most recent_ Ubuntu LTS release, it makes Zeal incompatible with AppImage packaging tools, and their hard-coded checks for the _oldest supported_ LTS release

[2019-09-14 19:40] #34 closed

[2019-09-14 19:43] trollixx commented on #45
@Epskampie can you push an update for the new Ubuntu release? Thanks

[2019-09-15 07:09] probonopd commented on #34
This is not comparable to AppImage. It does not make portable, one-file applications.

I think there is a big misunderstanding. Ubuntu 18.04.3 LTS is currently the _latest_ LTS release. According to https://packages.ubuntu.com/search?keywords=qt, it comes with Qt 5.9.x.

To compile applications that run on all still-supported LTS releases of Ubuntu, we need to compile on the oldest still-supported

[2019-09-27 05:36] trollixx commented on #34
If you are willing to maintain it, then of course! :) Almost all packages at this point are not maintained by me.

Not sure if it's a good idea to rely on 3rd party Qt builds, but at the same time that PPA have been around for quite some time.

It's unlikely that I would get to working on preparing AppImage packages myself, but if packaging can be integrated in the existing CI pipeline, and not re

[2019-09-27 06:46] probonopd commented on #34
Yes, it can be automated. I have been using Travis CI. Would that be acceptable for you or does it need to go through Shippable?

This is the file that does it:
https://github.com/probonopd/zeal/blob/patch-1/.travis.yml

[2019-11-04 22:45] Epskampie commented on #45
I just added `0.6.1` builds for Ubuntu `disco` and `eoan`.

[2019-11-04 22:48] Epskampie commented on #45
Although I think zeal is in the official repo's, so I don't really see the need :grin:

[2019-11-05 05:19] trollixx commented on #45
Indeed, I always forget about the official repo. Thanks anyway!

[2019-11-11 04:30] #45 closed

[2020-06-08 10:58] flaki opened #46 "Arch Linux package for Zeal seems to be missing"
Did Zeal got removed from Arch's mainline distro? The download page lists `pacman -Syu zeal` as the preferred way to install Zeal on Arch Linux, but the package seems to be missing.

![image](https://user-images.githubusercontent.com/2089432/84022975-eecc3800-a98f-11ea-8cb0-1d3d72e5ccb8.png)

![image](https://user-images.githubusercontent.com/2089432/84023068-1b804f80-a990-11ea-97ce-84a267e9a6df.p

[2020-06-08 11:02] flaki commented on #46
Oh apparently `zeal` was [moved to AUR](https://aur.archlinux.org/packages/zeal/#comment-743388) recently:
![image](https://user-images.githubusercontent.com/2089432/84023304-83369a80-a990-11ea-98ed-9511b0066290.png)

So this seems like a documentation issue.

[2020-07-26 01:25] TkTech opened #47 "Arch zeal and zeal-git packages do not list aarch64 as a supported platform."
Zeal builds and runs perfectly fine on Arch without modification for aarch64 (currently using it on a pinebook pro), but the PKGBUILD does not list aarch64 in its list of supported aarchs. Since trollixx is listed as the maintainer on the AUR package I'm posting here.

[2020-07-26 18:22] trollixx commented on #47
Thanks for bringing this to my attention. I have updated `zeal-git. Commenting on AUR would've worked too!

I don't own `zeal` though, so you might need to leave a note on AUR about this.

[2020-07-26 18:22] #47 closed

[2020-07-26 21:59] TkTech commented on #47
Thanks! Still new to the arch ecosystem!

[2021-10-12 21:14] malaire opened #48 "Package request: Debian 11 "bullseye""

[2021-11-03 19:51] cbednarski commented on #48
The Debian maintainer appears to be inactive https://tracker.debian.org/pkg/zeal

In the mean time an AppImage version would be helpful, since it doesn't depend on the distro, but the appimage effort seems to have stalled.

https://github.com/zealdocs/zeal/issues/1194

[2022-09-20 12:48] gchamon commented on #46
![image](https://user-images.githubusercontent.com/9471861/191261629-fdb8b0ad-f841-499e-a73c-627d6fc1492f.png)
@flaki it seems correct now, this issue could be closed

[2022-10-02 20:02] #46 closed